<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="admin-panel/layout/layout :: layout(~{::title}, ~{::section}, ~{::script} )">

<title>Home</title>

<section>
	<!-- timeline area start -->
	<div class="col-xl-3 col-ml-4 col-lg-4 mt-5">
	    <div class="card">
	        <div class="card-body">
	            <h4 class="header-title">Timeline</h4>
	            <div class="timeline-area">
	                <div class="timeline-task">
	                    <div class="icon bg1">
	                        <i class="fa fa-envelope"></i>
	                    </div>
	                    <div class="tm-title">
	                        <h4>Rashed sent you an email</h4>
	                        <span class="time"><i class="ti-time"></i>09:35</span>
	                    </div>
	                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
	                    </p>
	                </div>
	                <div class="timeline-task">
	                    <div class="icon bg2">
	                        <i class="fa fa-exclamation-triangle"></i>
	                    </div>
	                    <div class="tm-title">
	                        <h4>Rashed sent you an email</h4>
	                        <span class="time"><i class="ti-time"></i>09:35</span>
	                    </div>
	                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
	                    </p>
	                </div>
	                <div class="timeline-task">
	                    <div class="icon bg2">
	                        <i class="fa fa-exclamation-triangle"></i>
	                    </div>
	                    <div class="tm-title">
	                        <h4>Rashed sent you an email</h4>
	                        <span class="time"><i class="ti-time"></i>09:35</span>
	                    </div>
	                </div>
	                <div class="timeline-task">
	                    <div class="icon bg3">
	                        <i class="fa fa-bomb"></i>
	                    </div>
	                    <div class="tm-title">
	                        <h4>Rashed sent you an email</h4>
	                        <span class="time"><i class="ti-time"></i>09:35</span>
	                    </div>
	                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
	                    </p>
	                </div>
	                <div class="timeline-task">
	                    <div class="icon bg3">
	                        <i class="ti-signal"></i>
	                    </div>
	                    <div class="tm-title">
	                        <h4>Rashed sent you an email</h4>
	                        <span class="time"><i class="ti-time"></i>09:35</span>
	                    </div>
	                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
	                    </p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- timeline area end -->
</section>

<script>

</script>

</html>
