<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="admin-panel/layout/layout :: layout(~{::title}, ~{::section}, ~{::script}, ~{::h4.page-title})">

<title>Role</title>

<h4 class="page-title pull-left">Role</h4>

<section>
	<div class="row mb-3">
        <div class="col-md">
            <h2 class="mb-0"></h2>
        </div>
		<div class="col-md-auto mt-2">
			<a th:href="@{/role/create}" class="btn btn-primary">Create Role</a>
	    </div>
    </div>

	<div class="row">
	    <!-- data table start -->
	    <div class="col-12">
	        <div class="card">
	            <div class="card-body">
	                <h4 class="header-title">Role</h4>
	                <div class="data-tables">
	                	<table id="role_table" class="display">
						    <thead>
						        <tr>
						            <th>id</th>
						            <th>name</th>
						            <th>Action</th>
						        </tr>
						    </thead>
						</table>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- data table end -->
	</div>
	<div th:replace="admin-panel/element/snackbar :: snackbar"></div>
</section>

<script>
$(document).ready( function () {
	initDatatable()
	checkActionStatus()
});

function initDatatable() {
    let updateButton = '<a href="#" class="text-secondary update-button" title="Update"><i class="fa fa-edit"></i></a>'
    let deleteButton = '<a href="#" class="text-secondary delete-button" title="Delete"><i class="fa fa-trash"></i></a>'
    let defaultContentHtml = `<ul class="d-flex">
    							<li class="mr-3">${updateButton}</li>
    							<li class="mr-3">${deleteButton}</li>
    						</ul>`
    
	let table = $('#role_table').DataTable({
        processing: true,
        serverSide: true,
        ajax: 'api/datatable/role',
        columnDefs: [{ targets: -1, data: null, defaultContent: defaultContentHtml}],
        columns: [
                {data: 'id', name: 'id',orderable: false, searchable: true},
                {data: 'name', name: 'name', orderable: true, searchable: true},
                {data: null, orderable: false, searchable: false}
            ]
	});
	
	table.on('click', '.update-button', function () {
	    let data = table.row($(this).parents('tr')).data();
	    window.location.href = `role/update/${data['id']}`
	});
	
	table.on('click', '.delete-button', function () {
	    let data = table.row($(this).parents('tr')).data();
	    formDelete(data['id'])
	    
	});
    						
	return table
}

function formDelete(id) {
    var form = document.createElement("form");

    form.method = "POST"
    form.action = `role/delete/${id}`

    document.body.appendChild(form);

    form.submit();
}

function checkActionStatus() {
	if (getUrlVars()["delete"] == "success"){
		showSnack("Delete Role Success!", "info")
    }else if (getUrlVars()["create"] == "success"){
    	showSnack("Create Role Success!", "info")
    }else if (getUrlVars()["update"] == "success"){
    	showSnack("Update Role Success!", "info")
    }else if (getUrlVars()["delete"] == "failure"){
    	showSnack("Create Role Failure!", "error")
    }else if (getUrlVars()["create"] == "failure"){
    	showSnack("Update Role Failure!", "error")
    }else if (getUrlVars()["update"] == "failure"){
    	showSnack("update Role Failure!", "error")
    }
}

function getUrlVars() 
{
    let vars = {};
	window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
    });
    return vars;
}
</script>

</html>
