<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="admin-panel/layout/layout :: layout(~{::title}, ~{::section}, ~{::script}, ~{::h4.page-title})">

<title>User</title>

<h4 class="page-title pull-left">User</h4>

<section>
	<div class="row">
	    <!-- data table start -->
	    <div class="col-12 mt-5">
	        <div class="card">
	            <div class="card-body">
	                <h4 class="header-title">User</h4>
	                <div class="data-tables">
	                	<table id="user_table" class="display">
						    <thead>
						        <tr>
						            <th>id</th>
						            <th>name</th>
						            <th>email</th>
						            <th>IsDisable</th>
						            <th>Action</th>
						        </tr>
						    </thead>
						</table>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- data table end -->
	</div>

</section>

<script>
$(document).ready( function () {
    var readButton = '<a href="/user/read/1" class="text-secondary" title="Read"><i class="fa fa-eye"></i></a>'
    var updateButton = '<a href="user/update/1" class="text-secondary" title="Update"><i class="fa fa-edit"></i></a'
    
    var defaultContentHtml = '<ul class="d-flex"><li class="mr-3">' + readButton + '</li>' +
	                              '<li>'+ updateButton + '</li></ul>'
    
	$('#user_table').DataTable({
        processing: true,
        serverSide: true,
        ajax: 'api/datatable/user',
        columnDefs: [{ targets: -1, data: null, defaultContent: defaultContentHtml}],
        columns: [
                {data: 'id', name: 'id',orderable: false, searchable: true},
                {data: 'name', name: 'name', orderable: true, searchable: false},
                {data: 'email', name: 'email', orderable: true, searchable: false},
                {data: 'disabled', name: 'disable', orderable: true, searchable: true},
                {data: null, orderable: false, searchable: false}
            ]
      });
} );
</script>

</html>
