<div class="sidebar-menu" th:fragment="menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="index.html"><img src="/assets/images/icon/logo.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li sec:authorize="hasAuthority('Dashboard_INDEX')" th:classappend="${#httpServletRequest.getRequestURI() == '/dashboard' ? 'active':''}">
                    	<a th:href="@{/dashboard}"><i class="ti-dashboard"></i><span>Dashboard</span></a>
                    </li>
                    <li sec:authorize="hasAuthority('Role_INDEX')" th:classappend="${#httpServletRequest.getRequestURI() == '/role' ? 'active':''}">
                    	<a th:href="@{/role}"><i class="ti-shield"></i><span>Role</span></a>
                    </li>
                    <li sec:authorize="hasAuthority('User_INDEX')" th:classappend="${#httpServletRequest.getRequestURI() == '/user' ? 'active':''}">
                    	<a th:href="@{/user}"><i class="ti-user"></i><span>User</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
